# Ignore all files in the /cache/ directory
/cache/
**/data/

# Ignore all files in /test/ and /train/ directories
**/test/
**/train/

# Ignore all files in the folder that start with cifar
**/cifar*

# Ignore all .png files
**/raw_images/*.png

# Ignore all files in /python/ directory
**/python/

# Ingore all files in /lambda-env/ directory
**/lambda-env/
.DS_Store

# Ignore .zip files
**/*.zip

# Ignore .checkpoint
**/*.ipynb_checkpoints

# Ignore capture_data
**/captured_data/
